node-redflow.json
[{"id":"937160ed.dfec6","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"c6806a3c.5e6be8","type":"inject","z":"937160ed.dfec6","name":"","topic":"","payload":"Deepthi Jidagam","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":140,"wires":[["42b8d7e3.c12318"]]},{"id":"42b8d7e3.c12318","type":"debug","z":"937160ed.dfec6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":140,"wires":[]},{"id":"9eecfb46.e8ec08","type":"ibmiot in","z":"937160ed.dfec6","authentication":"apiKey","apiKey":"42a3dcb3.139984","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123456","applicationId":"","deviceType":"raspberrypi","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":110,"y":280,"wires":[["1ddb8423.86206c","c31303c6.7e9c8"]]},{"id":"1ddb8423.86206c","type":"function","z":"937160ed.dfec6","name":"Temperature","func":"global.set('temperature',msg.payload.Temperature)\nmsg.payload=msg.payload.temperature\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":240,"wires":[["42b8d7e3.c12318","3aaa2f6a.8deab"]]},{"id":"c31303c6.7e9c8","type":"function","z":"937160ed.dfec6","name":"Humidity","func":"global.set('humidity',msg.payload.humidity)\nmsg.payload=msg.payload.humidity\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":320,"wires":[["42b8d7e3.c12318","6f0ae4ad.2fb94c"]]},{"id":"3aaa2f6a.8deab","type":"ui_gauge","z":"937160ed.dfec6","name":"","group":"284c9111.1964be","order":1,"width":0,"height":0,"gtype":"gage","title":"temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":320,"wires":[]},{"id":"6f0ae4ad.2fb94c","type":"ui_gauge","z":"937160ed.dfec6","name":"","group":"284c9111.1964be","order":2,"width":0,"height":0,"gtype":"gage","title":"humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":430,"y":400,"wires":[]},{"id":"da99bed6.cae96","type":"ui_button","z":"937160ed.dfec6","name":"","group":"284c9111.1964be","order":3,"width":0,"height":0,"passthru":false,"label":"LIGHTON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"LIGHTON\"}","payloadType":"json","topic":"","x":160,"y":660,"wires":[["a7570c8e.7c7a8"]]},{"id":"bd81657f.01c668","type":"ui_button","z":"937160ed.dfec6","name":"","group":"284c9111.1964be","order":4,"width":0,"height":0,"passthru":false,"label":"LIGHTOFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"LIGHTOFF\"}","payloadType":"json","topic":"","x":170,"y":740,"wires":[["a7570c8e.7c7a8"]]},{"id":"a7570c8e.7c7a8","type":"ibmiot out","z":"937160ed.dfec6","authentication":"apiKey","apiKey":"42a3dcb3.139984","outputType":"cmd","deviceId":"123456","deviceType":"raspberrypi","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":480,"y":680,"wires":[]},{"id":"12727417.34c8cc","type":"http in","z":"937160ed.dfec6","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":100,"y":440,"wires":[["75d767d2.ada7b8"]]},{"id":"22dbc8f8.6c0978","type":"http response","z":"937160ed.dfec6","name":"","statusCode":"","headers":{},"x":530,"y":440,"wires":[]},{"id":"75d767d2.ada7b8","type":"function","z":"937160ed.dfec6","name":"data","func":"msg.payload={'temperature':global.get(\"temperature\"),'humidity':global.get(\"humidity\")}\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":440,"wires":[["22dbc8f8.6c0978"]]},{"id":"b1922797.4842b8","type":"function","z":"937160ed.dfec6","name":"command","func":"msg.payload={'lighton':global.get(\"lighton\"),'lightoff':global.get(\"lightoff\")}\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":560,"wires":[["c9632300.a98af","a7570c8e.7c7a8","9d91711.e20ef9"]]},{"id":"f8c8570e.cae248","type":"http in","z":"937160ed.dfec6","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":150,"y":560,"wires":[["b1922797.4842b8"]]},{"id":"c9632300.a98af","type":"http response","z":"937160ed.dfec6","name":"","statusCode":"","headers":{},"x":520,"y":560,"wires":[]},{"id":"9d91711.e20ef9","type":"debug","z":"937160ed.dfec6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":520,"y":500,"wires":[]},{"id":"42a3dcb3.139984","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"284c9111.1964be","type":"ui_group","z":"","name":"Default","tab":"b01ee02c.5ade6","order":1,"disp":true,"width":"6","collapse":false},{"id":"b01ee02c.5ade6","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]